// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background-color: lightgrey;
}
p {
  width: 250px;
}
.vcard {
  background-color: white;
}
.contacted {
  background-color: black;
  color: white;
}